<% layout("/layouts/boilerplate")%>
<body>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>           
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Title!</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" class="form-control" required> <%= listing.description %> </textarea>
            <div class="invalid-feedback">Please enter valid Description!</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control" required>
            <div class="invalid-feedback">Please enter valid image link!</div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                <div class="invalid-feedback">Please enter valid Price!</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>           
                <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                <div class="invalid-feedback">Please enter valid country name!</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Location!</div>
        </div>
        
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    </div>
</div>

</body>
